{% extends "root.html" %}
{% block title %} {{ user.display_name }} {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% import 'macros.html' as macros%}

{% block body %}
    <div class="row content">
        <div class="col-sm-12 profile">
            <div class ="col-sm-4 pic">
                <img class="img-rounded" width="100%" src="/static/default_profile_pic.jpg" alt="Profile picture">
            </div>
            <div class="col-sm-6">
                <h2 style="margin: 50px 30px 20px 0px;" class="well"> {{ user.display_name }} </h2>
                <h4 id="join-date">Member Since {{ user.date_joined|unix_to_human }}</h4>
                <p id="bio" class="well well-lg">{{ user.bio_text }}</p>
            </div>
            <div class="col-sm-2"></div>
        <div class="col-sm-12"></div>

        <div class="row">
            <div class="col-sm-12 user-recipes">
                <h2 style="text-align:center;">User Recipes</h2>
            </div>

            <div class="col-sm-12" style="margin-top: 50px"></div>
            {% for recipe in recipes %}
                <div class="col-sm-4 user-recipe">
                {{ macros.recipe_card(recipe) }}
                </div>
            {% endfor %}
        </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
