{% extends "root.html" %}
{% block title %} {{ recipe.name }} {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
    <div class="row content">
        <div class="col-sm-12">
            <h2 class="recipe-name">{{ recipe.name }}</h2>
            <p><img src="/image/{{recipe.recipe_image_id}}"/></p>
            <h3 class="recipe-meal-type">Meal Type = {{ recipe.meal_type}} </h3>
            {% if recipe.author is not none %}
            <h3 class="recipe-author">Author: <a href="/user/{{recipe.author.username}}">{{recipe.author.display_name}}</a></h3>
            {% endif %}
            <h3 class="recipe-prep-time">Prep Time = {{ recipe.prep_time}} </h3>
            <h3 class="recipe-blurb">blurb = {{ recipe.blurb}} </h3>
            <h3 class="recipe-servings">serving_size = {{ recipe.serving_size}} </h3>
            <h3 class="recipe-ingredients">Ingredients:</h3>
            {% set ingredients = recipe.get_ingredients() %}
            {% if ingredients|length > 0 %}
            <ul>
              {% for quantitied in ingredients %}
                <li>
                  <a href="/recipe/search?ingredients={{quantitied.ingredient.name.replace(' ', '_')}}">
                    {{-quantitied.quantity or ""-}} {{-quantitied.prefix or ""-}} {{-quantitied.ingredient.name-}} {{-quantitied.suffix or ""-}}
                  </a>
                </li>
              {% endfor %}
            </ul>
            {% endif %}
            <h3 class="recipe-instructions">instructions = {{ recipe.instructions}} </h3>
        </div>
    </div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
