{% extends "root.html" %}
{% block title %} {{ recipe.name }} {% endblock %}

{% block head %}
    {{ super() }}
    <style>
    h3
    {
        font-family: Verdana;
        font-size:24px;
        color:#555555;
    }
    #infobar a
    {
        color: inherit;
    }
    .boxed
    {
        border-radius: 10px;
        background: #ee3333;
        height: 25px;
        padding-top: 2px;
        padding-left: 8px;
        font-family: Verdana;
        color: #efefef
    }
    .ingredient-link
    {
        color:#ee3333;
    }
    .recipe-author
    {
        font-family: Arial;
        font-size:18px;
    }
    .recipe-author a
    {
        color:#ee3333
    }
    .recipe-ingredients
    {
        float: left;
        width: 40%;
    }
    .recipe-instructions
    {
        float: right;
        width: 60%;
    }
    .recipe-name
    {
        padding-top:50px;
        font-family:Verdana;font-size:32px;color:#555555;text-shadow:2px 2px #dddddd
    }
    </style>
{% endblock %}

{% block body %}
    <div class="row content">
        <div class="col-sm-12">
            <p class="recipe-name">{{recipe.name}}</p>
            <p><img class="img-rounded" src="/image/{{recipe.recipe_image_id}}"/></p>
            {% if recipe.author is not none %}
            <p class="recipe-author">Recipe by <a href="/user/{{recipe.author.username}}">{{recipe.author.display_name}}</a></p>
            {% endif %}
            <hr>
            <div class="boxed">
            <p id="infobar">
                {% if recipe.meal_type %}
                <a href="/recipe/search?meal_type={{recipe.meal_type}}">{{recipe.meal_type}}</a><span> | </span>
                {% endif %}
                {% set (hours, minutes) = recipe.prep_time|divmod(60) %}
                <span>{{"%d hr " % hours if hours else ""}}{{"%d min" % minutes if minutes else ""}} | </span>
                <span>Serves {{recipe.serving_size}}</span>
            </p>
            
            </div>
            <div class="recipe-ingredients">
                <h3>Ingredients</h3>
                {% set ingredients = recipe.get_ingredients() %}
                {% if ingredients|length > 0 %}
                <ul>
                  {% for quantitied in ingredients %}
                    <li>
                      <a class="ingredient-link" href="/recipe/search?ingredients={{quantitied.ingredient.name.replace(' ', '_')}}">
                        {{-quantitied.quantity or ""-}} {{-quantitied.prefix or ""-}} {{-quantitied.ingredient.name-}} {{-quantitied.suffix or ""-}}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="recipe-instructions">
                <h3>Instructions</h3>
                {% set paragraphs = recipe.instructions|split_paragraphs %}
                {% for paragraph in paragraphs %}
                    <p>{{paragraph}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %} {{ super() }} {% endblock %}
