{% extends "root.html" %}
{% block title %}  {% endblock %}

{% block head %}
    {{ super() }}
    <title>All Recipes | OnTheHouse</title>
{% endblock %}

{% import 'macros.html' as macros%}

{% block body %}
    <div class="row content">
        <div class="col-sm">
            {% for recipe in recipes %}
            <div class="col-sm-3">
                <br>
                {{ macros.recipe_card(recipe,'s') }}
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
<
{% block footer %} {{ super() }} {% endblock %}
