<!DOCTYPE html5>
<html>
<head>
    {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Oxygen|Rubik+Mono+One|Roboto" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/common.js"></script>

        <link rel="stylesheet" href="/static/common.css">
        <link rel="stylesheet" href="/static/profile.css">
        <link rel="stylesheet" href="/static/recipes.css">
    {% endblock %}
        <title>Home | OnTheHouse</title>
    <style>
    </style>
</head>


<body>
    <div class="container-fluid">
        <div class="row content">
            <div class="col-sm-3 sidenav">
                <h4>OnTheHouse</h4>
                {% if session_user %}
                    <h5>Welcome, <a href="/user/{{session_user.username}}">{{session_user.display_name}}</a></h5>
                {% endif %}
                <ul id="nav-list" class="nav nav-pills nav-stacked">
                    <li><a href="/">Home</a></li>
                    <li><a href="/recipe">Explore</a></li>
                    <li><a href="https://delta-co.github.io/">The Team</a></li>
                    <li><a href="/register">New? Register Here!</a></li>
                </ul><br>
                <div class="input-group">
                    <form id="searchForm" action="/recipe/search" method="get">
                        <input type="text" class="form-control" name="ingredients" placeholder="Search Ingredients...">
                    </form>
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit" form="searchForm">
                            <span class="glyphicon glyphicon-search"></span>
                        </button>
                    </span>
                </div>
            </div>
        <div class="col-sm-9">{% block body %}{% endblock %}</div>
        </div>
    </div>
    <div id="footer">
        {% block footer %}
        <footer class="container-fluid">
            &copy; Copyright 2018 by <a href="#">Delta Co.</a>
        </footer>
        {% endblock %}
    </div>
</body>


<script type="text/javascript">
</script>
</html>
