/*
Organization:
{
    display and flexing
    positioning and alignment
    bounding box (width, margin, overflow, ...)
    borders and shadows
    backgrounds
    foregrounds
    misc
}
*/
:root
{
    --color_site_theme: #00d8f4;
    --color_3d_shadow: rgba(0, 0, 0, 0.5);
    --color_3d_highlight: rgba(255, 255, 255, 0.5);
}

/* Set height of the grid so .sidenav can be 100% (adjust if needed) */
    .row.content {height: 1500px}


/* Set gray background color and 100% height */
    .sidenav {
      background-color: #f1f1f1;
      height: 100%;
    }

     /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

        /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height: auto;}
    }
