/*
Organization:
{
    display and flexing
    positioning and alignment
    bounding box (width, margin, overflow, ...)
    borders and shadows
    backgrounds
    foregrounds
    misc
}
*/
:root
{
    --color_site_theme: #00d8f4;
    --color_3d_shadow: rgba(0, 0, 0, 0.5);
    --color_3d_highlight: rgba(255, 255, 255, 0.5);
}
